{% extends 'mailing/base.html' %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Рассылки</h1>
                {% if not user.is_authenticated %}
                <p class="lead text-muted">Авторизуйтесь, чтобы начать пользоваться сервисом.</p>
                {% else %}
                <p class="lead text-muted">Нажмите "Создать рассылку" для создания новой рассылки.</p>
                <p>

                    <a href="{% url 'mailing:create_mailing' %}" class="btn btn-primary my-2">Создать рассылку</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <td>Рассылка</td>
                                    <td>{{ object.pk }}</td>
                                </tr>
                                <tr>
                                    <td>Сообщение</td>
                                    <td>{{ object.message.body }}</td>
                                </tr>
                            </table>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'mailing:mailing_detail' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Открыть
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}