{% extends 'mailing/base.html' %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Список пользователей сервиса</h1>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td>Почта</td>
                                        <td>{{ object.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td>{{ object.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td>{{ object.last_name }}</td>
                                    </tr>
                                </table>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if object.is_active %}
                                            <a href="{% url 'users:toggle_activity' object.pk %}" type="button"
                                               class="btn btn-sm btn-outline-danger">Блокировать пользователя
                                            </a>
                                        {% else %}
                                            <a href="{% url 'users:toggle_activity' object.pk %}" type="button"
                                               class="btn btn-sm btn-outline-success">Активировать пользователя
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}